.nav {
    grid-area: n;
    background-color: #f8edeb;
    padding: 20px;
}

.nav a {
  text-decoration: none;
  color: black;
  /* cursor: pointer; */
}

.nav a.active {
  color: cornflowerblue;
}

.nav a:hover {
  color: rgb(44, 81, 150);
}

.users_item {
  margin-top: 20px;
}