.dialog {
    padding: 5px;
}

.dialog img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 5px;
}

.dialog a {
    text-decoration: none;
    color: black;
}

.dialog .active {
    color: rgb(20, 140, 220);
}

.nameLinks {
    display: flex;
    align-items: center;
}