.dialogs {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.dialogsItems {
    padding: 15px;
}

.messages {
    padding: 15px;
}

/* .createMessage {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .typeMessage {
    width: 80%;
} */