.userPhoto {
    width: 100px;
    height: 100px;
}

.pageNum {
    font-weight: bold;
}

.lineOfNum {
    cursor: pointer;
    margin-bottom: 10px;
}

.pageNum:not(:last-child) {
    margin-right: 5px;
    margin-left: 5px;
}