.userPhoto {
    width: 100px;
    height: 100px;
}

.pageNum {
    font-weight: bold;
}

.lineOfNum {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    margin: 10px;
}

.lineOfNum *:not(:last-child) {
    padding-right: 5px;
    padding-left: 5px;
}

button {
    cursor: pointer;
}